/* Header */
.header-style {
  height: 84px;
  padding: 0 52px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  margin-left: 16px;
  margin-right: 16px;
}

.dropdown-menu{
  float: right;
}


.notification-navbar {
  height: 0.5rem;
  padding: 1rem;
  align-items: center;
  position: relative;
  margin-left: 35vw;
  right: 0px;
  background-color: #fffaf1;
}

.dropdown-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.user-navbar {
  margin-left: 1rem;
}

.user-info-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info-navbar p {
  margin-bottom: 6px;
}

.arrow-user-navbar {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}


