/* Content */
.content-style {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 200px;
  line-height: 120px;
  margin: 15px;
  border-radius: 2px;
  background-color: #fff;
  font-size: var(--text-base);
  font-family: var(--font-montserrat);
}

