.Form_create{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    font-size: var(--text-base);
}

.min-width-110 .ant-col label{
    min-width: 110px!important;
}

.ant-typography css-dev-only-do-not-override-18iikkb{
    margin-top: 10px;
}